@model IEnumerable<CursosArsi.Models.Temas>

@{
    ViewBag.Title = "Temas";
    int idProducto = Convert.ToInt32(Session["id_lista_modulos"]);
}

<h2>Temas</h2>

<p>
    <a href='@Url.Action("GuardarTema", "Cursos")'><img src="~/Images/agregar.png" style="width:7%; height:12%;" /></a>


</p>
<a href="~/Cursos/IngresarModulo/@idProducto"><button class="btn-primary" style="float:right">Atras</button></a>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_tema)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion_tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url_tema)
            </td>
            <td>
                <a href='@Url.Action("EditarTemas", "Cursos",  new { id = item.id_tema} )'><img src="~/Images/editar.png" style="width:25px; height:35px;" /></a>
                <a href='@Url.Action("EliminarTema", "Cursos",  new { id = item.id_tema} )'><img src="~/Images/eliminar.png" style="width:25px; height:35px;" /></a>
                <a href='@Url.Action("SubTemas", "Cursos",  new { id = item.id_tema} )'><img src="~/Images/agregar1.png" style="width:25px; height:35px;" /></a>
               
            </td>
        </tr>
    }

</table>
