@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Inicio.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- HOME
    <section id="home">
        <div class="row">
            <div class="owl-carousel owl-theme home-slider">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <video width="320" height="240" controls autoplay>
        <source src="~/Images/Videos/video publicidad 1.mp4" type="video/mp4">
    </video>
    <video width="320" height="240" controls autoplay>
        <source src="~/Images/Videos/video publicidad.mp4" type="video/mp4">
    </video>
        -->
    <div>
        <ul id="demo1">
            <li>
                <img src="~/images/slider-image1.jpg" alt="" />
                <!--Slider Description example-->
                <!--  <div class="slide-desc">
                <h3>Juntos creceremos</h3>
                    </div>-->
            </li>
            <li>
                <img src="~/images/slider-image2.jpg" alt="" />
                <!--<div class="slide-desc">
                <h3>Nos apoyamos entre todos</h3>
                 </div>-->
            </li>

        </ul>
    </div>
    <!-- FEATURE -->
    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <a href="~/Documentos/CURSOS.PDF"><img src="~/images/C-CalendarioCursos.jpg" class="img-responsive" alt="">
                            <h3> <a href="~/Documentos/CURSOS.PDF"> Ver Calendario </a> </h3>
                            <!--<p>Conoce los cursos que tiene tu empresa para t&iacute;.</p>-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <!--<span>02</span>-->
                        <a href="~/Documentos/CURSOS.PDF"><img src="~/images/C-Formatos Digitales.jpg" class="img-responsive" alt="">
                        <h3>Ver Formatos</h3>
                        <!--<p>Consulta nuestro material de apoyo.</p>-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <!--<span>03</span>-->
                        <a href="~/Documentos/CURSOS.PDF"><img src="~/images/C-RevistaDigital.jpg" class="img-responsive" alt="">
                        <h3>Ver Revista</h3>
                        <!--<p>Consulta otros temas que pueden interesarte.</p>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <!--<span>04</span>-->
                        <a href="https://corporativoar.blogspot.com/"><img src="~/images/C-VisitaBlog.jpg" class="img-responsive" alt="">
                        <h3> <a href="https://corporativoar.blogspot.com/">Blog</a></h3>
                       <!-- <p>Visita nuestro blog y observa lo que tenemos para tí.</p> -->
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Ingresa con tu usuario</h2>

                        <figure>
                            <span><i class="fa fa-users"></i></span>
                            <figcaption>
                                <h3>Instructores Profesionales</h3>
                                <p>Con experiencia en el &aacute;mbito laboral.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-certificate"></i></span>
                            <figcaption>
                                <h3>Certificaciones de la comunidad</h3>
                                <p>Te dar&aacute;n reconocimiento.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-bar-chart-o"></i></span>
                            <figcaption>
                                <h3>Encuentra material</h3>
                                <p>Que te ayudar&aacute; en tus funciones diarias.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>


                <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form">
                        <form action="@Url.Action("Login", "Home")" method="post">
                            <h2>Ingresa</h2>
                            <input type="email" id="usr" name="usr" value="@Session["usuario"]" class="form-control" placeholder="Tu correo electr&oacute;nico" required>
                            <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Tu contraseña" required>
                            <button class="submit-btn form-control" id="form-submit">Ingresar</button>

                            <!-- <button class="submit-btn form-control" id="form-submit">@Html.ActionLink("Registrate", "Index", "Register")</button>-->
                            @if (@ViewBag.Message != null)
                            {
                                <div id="dvMessage" style="color:red; visibility:hidden; position: fixed; z-index: 100; margin-left:15%; margin-top:-1%; width:35%" class="alert alert-danger">
                                    <p>@ViewBag.Message</p>
                                </div>
                            }
                            else { }
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- TEAM
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Teachers <small>Meet Professional Trainers</small></h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/author-image1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Mark Wilson</h3>
                            <span>I love Teaching</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/author-image2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Catherine</h3>
                            <span>Education is the key!</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/author-image3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Jessie Ca</h3>
                            <span>I like Online Courses</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="~/images/author-image4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Andrew Berti</h3>
                            <span>Learning is fun</span>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-behance"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
        -->
    <!-- Courses -->
    <section id="courses">
        <div class="container">
            <div class="row">
                <center>
                    <img src="~/Images/Titulo2.jpeg" class="titulo" />
                </center>
                <br />
                <div class="col-md-12 col-sm-12">
                    <!--
                         <div class="section-title">
                     <h2>Pr&oacute;ximos Cursos <small>Verifica si existe alguno de tu inter&eacute;s</small></h2>
                    </div>-->

                    <div class="owl-carousel owl-theme owl-courses">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <a href="https://www.arsintegrales.com/ProyectoVirtual/Compras/ListadoProductos/13"><img src="~/images/courses-image6.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 21/10/2021</span>
                                            <span><i class="fa fa-clock-o"></i> 15:00 Horas</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="https://www.arsintegrales.com/ProyectoVirtual/Compras/ListadoProductos/13">Modelo de Negocio</a></h3>
                                        <p>Camino al &Eacute;xito de proyectos.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/author-image6.jpg" class="img-responsive" alt="">
                                            <span>Lic. Javier Reyna</span>
                                        </div>
                                        <br />
                                        <div class="courses-price">
                                            <a href="https://www.arsintegrales.com/ProyectoVirtual/Compras/ListadoProductos/13"> <button class="button button1">MXN $1.00</button></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <a href="https://www.arsintegrales.com/ProyectoVirtual/Compras/ListadoProductos/13"><img src="~/images/courses-image8.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 10/10/2021</span>
                                            <span><i class="fa fa-clock-o"></i> 18:00 Horas</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="https://www.arsintegrales.com/ProyectoVirtual/Compras/ListadoProductos/13">Cambio de Actitudes Laborales</a></h3>
                                        <p>&Eacute;xito Empresarial.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/author-image8.jpg" class="img-responsive" alt="">
                                            <span>Francisco M&aacute;rquez</span>
                                        </div>
                                        <div class="courses-price">
                                            <a href="https://www.arsintegrales.com/ProyectoVirtual/Compras/ListadoProductos/13"> <button class="button button1">MXN $2,000.00</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            <a href="https://www.youtube.com/watch?v=FauyfTlbTIM&t=919s"><img src="~/images/courses-image7.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="courses-date">
                                            <span><i class="fa fa-calendar"></i> 11/10/2021 </span>
                                            <span><i class="fa fa-clock-o"></i> 17:00 Horas</span>
                                        </div>
                                    </div>

                                    <div class="courses-detail">
                                        <h3><a href="https://www.youtube.com/watch?v=FauyfTlbTIM&t=919s">Plan de Vida</a></h3>
                                        <p>Una vida plena llena de metas y stisfacción.</p>
                                    </div>

                                    <div class="courses-info">
                                        <div class="courses-author">
                                            <img src="~/images/author-image7.jpg" class="img-responsive" aslt="">
                                            <span>Lic. Carlos Ayala Gómez</span>
                                        </div>
                                        <br />
                                        <div class="courses-price free">
                                            <a href="https://www.youtube.com/watch?v=FauyfTlbTIM&t=919s"> <button class="button button1">GRATIS</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- TESTIMONIAL -->
    <section id="testimonial">
        <img src="~/Images/Titulo1.jpeg" class="titulo" />

        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                    </div>

                    <div class="owl-carousel owl-theme owl-client">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">

                                <div class="tst-image">


                                    <img src="~/images/tst-image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Autotransportes Zeta </h4>
                                    <span>S.A de C.V</span>
                                </div>
                                <p>Desde que tom&eacute; el curso ya no salgo tan tarde.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/images/tst-image2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Rotofryd</h4>
                                    <span>--</span>
                                </div>
                                <p>Apoyarnos en Corporativo AR ha sido muy beneficioso porque tienen mucho 
                                    dominio en diseño organizacional, gestión de RH y materia presupuestaria. 
                                    Los consultores no solo tienen experiencia comprobada, sino una altísima
                                    capacidad, preparan a sus clientes para afrontar retos en un mercado tan 
                                    cambiante.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/images/tst-image3.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Grupo Adviser</h4>
                                    <span>Jefe de Departamento</span>
                                </div>
                                <p>El estres desapareci&oacute;, pude optimizar mi tiempo en pocas semanas.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/images/tst-image4.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>GalKease</h4>
                                    <span>Director General</span>
                                </div>
                                <p>Corporativo AR tiene profesionales y especialistas 
                                   con un alto nivel de capacitación, perfectamente versados 
                                   en todos los temas relacionados a
                                   las empresas como la tuya y la mía.
                                </p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="" method="post">
                        <div class="section-title">
                            <h2>Cont&aacute;ctanos <small>Estamos encantados de ayudarte, escribe tu pregunta!</small></h2>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <input type="text" class="form-control" placeholder="Escribe tu nombre completo" name="name" required="">

                            <input type="email" class="form-control" placeholder="Escribe tu correo electr&oacute;nico" name="email" required="">

                            <textarea class="form-control" rows="6" placeholder="Escribe tu comentario" name="message" required=""></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="send message" value="Enviar">
                        </div>

                    </form>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="~/images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
